service: alexaSC2

plugins:
  - serverless-plugin-webpack

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 128
  stage: dev
  region: us-west-2

functions:
  sc2:
    handler: functions/getDescription/handler.description
    events:
      - alexaSkill
